body{
    /* background-color: #2c328d; */
    background-image: url("images/central-park-aerial-untapped-cities1-1-1.jpg");
}
.container{
    display: flex;
    justify-content: space-between;
    /* gap: 20px; */
}

/* #map{
   
} */

#selection{
    background-color: #2c328d;
    border: 3px gold solid;
    width: 40%;
}

h1{
    color: gold;
}

.park-info{
    padding-top: 10%;
    color: white;
    line-height: 50px;

}